<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>About Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr-2.8.3.min.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Ninjas</h1>
            <p>
                A ninja, was a covert agent or mercenary in feudal Japan. The functions of a ninja was espionage, sabotage, infiltration, assssination and guerilla warfare.
            </p>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>
